/*<meta />*/

body
{
	font-family: Arial;
	margin: 0px;
}

h1
{
	font-weight: bold;
	font-size: 26.0pt;
}

h2
{
	font-weight: bold;
	font-size: 22.0pt;
}

h3
{
	font-weight: bold;
	font-size: 20.0pt;
}

h4
{
	font-weight: bold;
	font-size: 18.0pt;
}

h5
{
	font-weight: bold;
	font-size: 16.0pt;
}

h6
{
	font-weight: bold;
	font-size: 14.0pt;
}

p
{
	font-size: 14.0pt;
}

.title-bar-layout a.logo
{
	background-image: url('../Images/Basic/logo.svg');
}

div.main-footer
{
	color: #f5f5f5;
	background-color: #303030;
	padding: 10px;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	max-height: 110px;
}

div.main-footer a
{
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
}

div.menu
{
	background-color: #3d1240;
	color: #f5f5f5;
	margin-top: 0px;
	padding: 10px;
}

div.main-body
{
	position: relative;
	left: 0;
	padding: 10px 30px 120px 30px;
}

div.hero-body
{
	position: relative;
	left: 0;
	padding: 0px 0px 120px 0px;
}

div.hero1
{
	background-color: #FFEA6F;
	padding-bottom: 2px;
	/*height: 500px;*/
}

div.hero2
{
	/*width: 45%;
	float: left;*/
	margin-top: 10%;
	padding-right: 10%;
	padding-left: 5%;
	color: #3d1240;
	font-size: 48pt;
	text-align: center;
	height: 400px;
}

div.hero3
{
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	height: 400px;
	/*width: 40%;
	float: right;*/
	background: url('../Images/woman-2150881_1280.jpg') no-repeat;
}

div.Main-body-other-pages	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.Main-body-other-pages::before
{
	content: ' ';
	display: table;
}

div.Main-body-other-pages::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.Main-body-other-pages > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.Main-body-other-pages > div:nth-child(1)
{
	width: 58.333%;
	margin-left: 0%;
}

div.Main-body-other-pages > div:nth-child(2)
{
	width: 41.667%;
	margin-left: 0%;
}

@media only screen and (max-width: 1279px)
{
	div.Main-body-other-pages > div:nth-child(1)
	{
		width: 66.66667%;
		margin-left: 0%;
	}

	div.Main-body-other-pages > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}
}

@media only screen and (max-width: 767px)
{
	div.Main-body-other-pages > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.Main-body-other-pages > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}
}

h1.no-toc
{
	mc-heading-level: 0;
}

