/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

.micro-response-1669708936
{
	font-family: Arial;
	margin: 0px;
}

.micro-response-1669708936 h1
{
	font-weight: bold;
	font-size: 26.0pt;
}

.micro-response-1669708936 h2
{
	font-weight: bold;
	font-size: 22.0pt;
}

.micro-response-1669708936 h3
{
	font-weight: bold;
	font-size: 20.0pt;
}

.micro-response-1669708936 h4
{
	font-weight: bold;
	font-size: 18.0pt;
}

.micro-response-1669708936 h5
{
	font-weight: bold;
	font-size: 16.0pt;
}

.micro-response-1669708936 h6
{
	font-weight: bold;
	font-size: 14.0pt;
}

.micro-response-1669708936 p
{
	font-size: 14.0pt;
}

.micro-response-1669708936 img
{
	max-width: 90%;
}

.micro-response-1669708936 .title-bar-layout a.logo
{
	background-image: url('../../resources/images/basic/logo.svg');
}

.micro-response-1669708936 a.MCDropDownHotSpot
{
	color: #3d1240;
}

.micro-response-1669708936 div.readmore
{
	background-color: #f0f7fb;
	border-left: solid 4px #3498db;
	line-height: 18px;
	mc-auto-number-format: '{b}You may want to read: {/b}';
	overflow: hidden;
	padding: 12px;
	padding-left: 80px;
	background-image: url('../../resources/images/basic/note-icon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
}

.micro-response-1669708936 div.readmore > ul
{
	padding-top: 2px;
	margin-left: -80px;
}

.micro-response-1669708936 div.readmore > p:first-of-type
{
	padding-top: 10px !important;
}

.micro-response-1669708936 div.readmore > p
{
	margin-left: -60px;
}

.micro-response-1669708936 div.main-footer
{
	color: #f5f5f5;
	background-color: #303030;
	padding: 10px;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	max-height: 110px;
}

.micro-response-1669708936 div.main-footer a
{
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
}

.micro-response-1669708936 div.menu
{
	background-color: #3d1240;
	color: #f5f5f5;
	margin-top: 0px;
	padding: 10px;
}

.micro-response-1669708936 div.main-body
{
	position: relative;
	left: 0;
	padding: 10px 30px 120px 30px;
}

.micro-response-1669708936 div.hero-body
{
	position: relative;
	left: 0;
	padding: 0px 0px 120px 0px;
}

.micro-response-1669708936 div.hero1
{
	background-color: #FFEA6F;
	padding-bottom: 2px;
	/*height: 500px;*/
}

.micro-response-1669708936 div.hero2
{
	/*width: 45%;
	float: left;*/
	margin-top: 10%;
	padding-right: 10%;
	padding-left: 5%;
	color: #3d1240;
	font-size: 48pt;
	text-align: center;
	height: 400px;
}

.micro-response-1669708936 div.hero3
{
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	height: 400px;
	/*width: 40%;
	float: right;*/
	background: url('../../resources/images/woman-2150881_1280.jpg') no-repeat;
}

.micro-response-1669708936 div.Main-body-other-pages	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

.micro-response-1669708936 div.Main-body-other-pages::before
{
	content: ' ';
	display: table;
}

.micro-response-1669708936 div.Main-body-other-pages::after
{
	content: ' ';
	display: table;
	clear: both;
}

.micro-response-1669708936 div.Main-body-other-pages > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.micro-response-1669708936 div.Main-body-other-pages > div:nth-child(1)
{
	width: 58.333%;
	margin-left: 0%;
	margin-right: 5px;
}

.micro-response-1669708936 div.Main-body-other-pages > div:nth-child(2)
{
	width: 41%;
	margin-left: 0%;
}

.micro-response-1669708936 MadCap|dropDownHead
{
	font-size: 22pt;
	color: #3d1240;
}

.micro-response-1669708936 MadCap|dropDown
{
	mc-image-spacing: 10px;
	mc-closed-image: url('../../resources/images/basic/down-arrow.png');
	mc-open-image: url('../../resources/images/basic/up-arrow.png');
}

.micro-response-1669708936 div.General-8-4	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

.micro-response-1669708936 div.General-8-4::before
{
	content: ' ';
	display: table;
}

.micro-response-1669708936 div.General-8-4::after
{
	content: ' ';
	display: table;
	clear: both;
}

.micro-response-1669708936 div.General-8-4 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.micro-response-1669708936 div.General-8-4 > div:nth-child(1)
{
	width: 66.66667%;
	margin-left: 0%;
}

.micro-response-1669708936 div.General-8-4 > div:nth-child(2)
{
	width: 33.33333%;
	margin-left: 0%;
}

.micro-response-1669708936 div.title-bar-layout ul.navigation li[data-mc-id="0"]
{
	display: none !important;
}

.micro-response-1669708936 div.title-bar-layout ul.navigation li[data-mc-id="1"]
{
	display: none !important;
}

@media only screen and (max-width: 1279px)
{
	.micro-response-1669708936 div.Main-body-other-pages > div:nth-child(1)
	{
		width: 66.66667%;
		margin-left: 0%;
	}

	.micro-response-1669708936 div.Main-body-other-pages > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}

	.micro-response-1669708936 div.General-8-4 > div:nth-child(1)
	{
		width: 66.66667%;
		margin-left: 0%;
	}

	.micro-response-1669708936 div.General-8-4 > div:nth-child(2)
	{
		width: 33.33333%;
		margin-left: 0%;
	}
}

@media only screen and (max-width: 767px)
{
	.micro-response-1669708936 div.Main-body-other-pages > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response-1669708936 div.Main-body-other-pages > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response-1669708936 div.General-8-4 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	.micro-response-1669708936 div.General-8-4 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
	}
}

.micro-response-1669708936 h1.no-toc
{
	mc-heading-level: 0;
}

.micro-response-1669708936 p.toc
{
	font-size: 22pt;
	color: #3d1240;
}

.micro-response-1669708936 div.toc
{
	background-color: #f5f5f5;
}

